

* {
    box-sizing: border-box;
 }
 .product-item {
    width: 300px;
    margin: 0 auto;
    padding: 10px 10px 5px 10px;
    border: 1px solid #eee;
    background: white;
    font-family: "Open Sans";
    overflow: hidden;
    transition: .4s linear;
 }
 .product-img {
    transition: 1s ease-in-out;
 }
 .product-img:hover {
    transform: scale(1.1);
 }
 .product-img img {
    display: block;
    width: 100%;
 }
 .product-list {
    margin-top: 15px;
 }
 .product-list h3 {
    font-weight: 700;
    color: #39404B;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2;
 }
 .price {
    color: #E34D38;
    display: block;
    margin-bottom: 12px;
 }
 .stars {
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
 }
 .stars:before {
    content: "\f005\f005\f005\f005\f006";
    color: #EFB71C;
    font-size: 14px;
    font-family: FontAwesome;
 }
 .actions {
    border-top: 1px solid #eee;
    padding-top: 4px;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
 }
 .actions:after {
    content: "";
    display: table;
    clear: both;
 }
 .add-to-cart, .add-to-links {
    float: left;
 }
 .cart-button {
    text-decoration: none;
    color: #8C877C;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    transition: .4s linear;
 }
 .cart-button:before {
    content: "\f07a";
    font-family: FontAwesome;
    margin-right: 10px;
 }
 .add-to-cart:hover .cart-button, .wishlist:hover, .compare:hover {
    color: #E34D38;
 }
 .wishlist, .compare {
    color: #8C877C;
    padding-left: 20px;
    transition: .4s linear;
 }
 .wishlist:after, .compare:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
 }
 .wishlist:after {
    content: "\f004";
 }
 .compare:after {
    content: "\f079";
 }
 .product-item {
        grid-area: main;
      } 
.search-collection {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "nav main"
        "nav main";
      }
.class-side-bar{
    grid-area: nav;
        background-color: #d5d5d5;
}
.img-section1{
    text-align: center;
}
.img-section2{
    text-align: center;
}
.found-items{
    display: flex;
    flex-wrap: wrap;
}